@using OurHome.Authorization.Roles

    <div class="roof">
    </div>

    <div class="top-menu">
        <nav class="container  top-menu-visible">
            <span class="separator-left"></span>
            <a href="@Url.Action("Index", "Home", new {Area=""})" class="menu-item">
                <span class="active-highlight"></span>
                Главная
            </a>
            <a href="@Url.Action("Index","Info", new {Area=""})" class="menu-item">
                <span class="active-highlight"></span>
                Полезная информация
            </a>
            <a href="@Url.Action("Contacts", "Home", new {Area=""})" class="menu-item  menu-active">
                <span class="active-highlight"></span>
                Контакты
            </a>
            <a href="@Url.Action("Documents", "Home", new {Area=""})" class="menu-item">
                <span class="active-highlight"></span>
                Документы
            </a>
            <span class="separator-right"></span>
            
            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="user-menu">
                    <span class="separator-left"></span>
                    <div class="user-menu-item">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">
                            @User.Identity.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            
                            @if (User.IsInRole(StaticRoleNames.Tenants.User))
                            {
                                <li><a href="@Url.Action("Index", "Profile", new {Area=""})">Профиль</a></li>
                            }
                            else if (User.IsInRole(StaticRoleNames.Tenants.Admin))
                            {
                                <li><a href="@Url.Action("Index", "AdminUsers", new{Area="Admin"})">Администрирование</a></li>
                            }
                            <li><a href="@Url.Action("Logout", "Account")">Выход</a></li>
                        </ul>
                    </div>
                    <span class="separator-right"></span>
                </div>
            }
            else
            {
                <div class="user-menu">
                    <span class="separator-left"></span>
                    <a class="user-menu-item" href="@Url.Action("Login","Account")">Вход</a>
                    <span class="separator-right"></span>
                </div>
            }
        </nav>
        
        <div class="side-menu-button side-menu-visible">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </div>

    </div>

<div class="menu-darker"></div>
<div class="side-menu">
    <h3>Меню</h3>
    
    @if (User.IsInRole(StaticRoleNames.Tenants.User))
    {
        <hr />
        <a class="menu-item" href="@Url.Action("Index", "Profile", new {Area=""})">Сводка</a>
        <a class="menu-item" href="@Url.Action("Edit", "Profile", new {Area=""})">Редактирование профиля</a>
    }
    else if (User.IsInRole(StaticRoleNames.Tenants.Admin))
    {
        <hr />
        <a class="menu-item" href="@Url.Action("Index","AdminUsers", new{Area="Admin"})">Пользователи</a>
        <a class="menu-item" href="@Url.Action("Index","AdminSensors", new{Area="Admin"})">Счетчики</a>
        <hr />
        <a class="menu-item" href="@Url.Action("Index","AdminNews", new{Area="Admin"})">Полезная информация</a>
        <a class="menu-item" href="@Url.Action("Index","AdminFeatures", new{Area="Admin"})">Особенности</a>
        <a class="menu-item" href="@Url.Action("Index","AdminContacts", new{Area="Admin"})">Контакты</a>
        <a class="menu-item" href="@Url.Action("Index","AdminDocuments", new{Area="Admin"})">Документы</a>
    }

    <hr/>

    <a href="@Url.Action("Index", "Home", new {Area=""})" class="menu-item">Главная</a>
    <a href="@Url.Action("Index","Info", new {Area=""})" class="menu-item">Полезная информация</a>
    <a href="@Url.Action("Contacts", "Home", new {Area=""})" class="menu-item  menu-active">Контакты</a>
    <a href="@Url.Action("Documents", "Home", new {Area=""})" class="menu-item">Документы</a>
    <hr/>
    
    @if (User.Identity.IsAuthenticated)
    {
        <a class="menu-item" href="@Url.Action("Logout", "Account")">Выход</a>
    }
    else
    {
        <a class="menu-item" href="@Url.Action("Login", "Account")">Вход</a>
    }

</div>