@model OurHome.Web.Models.Profile.SummaryViewModel

@{
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
    ViewBag.ProfileTitle = "Сводка";
}


<div class="card">
    <h4>Здравствуйте, @Model.Fio</h4>
    Идентификационный номер: @Model.Id
</div>

<h3>Подключенные счетчики</h3>

@foreach (var sensor in Model.Sensors)
{
    @Html.Partial("Partial/Sensor/BriefSensorPartial", sensor)
}

<h3>Оплата</h3>
<div class="card">
    <div class="info-row row warning">
        <div class="col-xs-6">Общая задолженность:</div>
        <div class="col-xs-6">@Model.TotalDept<span>&#8381;</span></div>
    </div>
    <div class="info-row row">
        <div class="col-xs-6">К оплате за месяц:</div>
        <div class="col-xs-6">@Model.TotalMoney<span>&#8381;</span></div>
    </div>
    
    <a href="@Url.Action("Details")" class="btn btn-success">Оплатить</a>
</div>