
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


@Html.Partial("Partial/_Menu")

<div class="banner">

    @*<img class="banner-window" src="/images/window.png" />*@
    <div class="window-position">
        <div class="banner-window">
            <div class="window-content"></div>
            <div class="window"></div>
        </div>
    </div>



    <div class="banner-text">
        <h1>Наш дом</h1>
        <h2>Система учета расходов</h2>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="block card">
            <h1>Описание</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ornare diam, ut mollis velit consectetur sed. Pellentesque mauris lorem, fermentum sagittis tempor in, molestie nec tortor. Nam dignissim id tortor quis ultricies. Etiam fringilla ante urna, eget consectetur diam ultrices aliquet. Etiam tellus ligula, semper eget commodo eu, iaculis a libero. Ut sagittis neque auctor nisl condimentum, et scelerisque augue luctus. Donec id justo pharetra, condimentum lacus a, facilisis quam. Pellentesque accumsan risus in elit lacinia hendrerit. Nulla dapibus laoreet neque, eget lacinia lectus finibus ac. Ut vestibulum libero libero, ornare tincidunt urna fermentum ac. Ut molestie tortor in nisi feugiat eleifend. Aliquam purus massa, pellentesque nec felis quis, sodales tempor sapien. Proin sollicitudin commodo augue, eget cursus nunc volutpat sed. Praesent venenatis tristique enim eget commodo. Donec pretium purus vel lectus aliquet gravida.
                Cras pellentesque enim nec finibus ultrices. Morbi ut blandit sem. Sed bibendum dignissim ante vel suscipit. Nunc ac tortor id arcu ullamcorper porttitor. Nulla maximus tellus et arcu sollicitudin tincidunt. Etiam ultrices, felis vel sodales vehicula, leo diam tincidunt justo, sit amet dignissim augue tortor at erat. Aenean commodo fermentum convallis. Curabitur consequat nulla at ultricies malesuada. Vestibulum tempus magna ut rutrum cursus. Nam et sem tellus. Integer vulputate dolor justo, sed sodales nisi vestibulum quis. Aliquam pretium scelerisque scelerisque. Mauris tincidunt quam id eros iaculis, at tristique erat eleifend.
            </p>
        </div>
        <div class="block">
            <h1>Возможности</h1>
            
            @Html.Partial("Partial/_FeatureCardPartial")
            @Html.Partial("Partial/_FeatureCardPartial")
            @Html.Partial("Partial/_FeatureCardPartial")

        </div>

        <div class="block">
            <h1>Последние новости</h1>

            @Html.Partial("Partial/_NewsCardPartial")
            @Html.Partial("Partial/_NewsCardPartial")

        </div>
    </div>
    
    <div class="kostil"></div>

</div>